html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
#container {
    width: 100%;
    height: 100%;
}
.breakpoint-glyph {
    background-color: #e51400;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    margin-left: 5px;
    margin-top: 5px;
}