body {
    background: transparent !important;
}

#blockly {
    background: transparent !important;
}

.blocklySvg {
    background-color: transparent !important;
}

.blocklyMainBackground {
    opacity: 0.65;
}
