.whlab > .blocklyFlyoutLabelText {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
}

.blocklyTreeLabel {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 13px;
}

.blocklyText, .blocklyToolboxContents {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

::-webkit-scrollbar {
    width: 7px;
}

.blocklyScrollbarBackground {
    opacity: 255;
    fill: transparent;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#toolbox {
    display: none;
}

#blockly {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.blocklyMainBackground {
    stroke-width: 0;
}

.blocklyFlyoutBackground {
    fill-opacity: 0;
}

.blocklyScrollbarVertical .blocklyScrollbarHandle {
    rx: 3px;
    ry: 3px;
    width: 6px;
}

.blocklyScrollbarHorizontal .blocklyScrollbarHandle {
    rx: 3px;
    ry: 3px;
    height: 6px;
}

.blocklySelected > .blocklyPath {
    stroke-width: 2px;
}

.small-text {
    font-size: 12px !important;
}

.blocklyWidgetDiv .goog-menu {
    border-radius: 0;
}

.condition-label {
    font-size: 13px !important;
}

.blocklyDropDownContent {
    position: relative;
}