name: Dependency Submission

on:
  push:
    branches: [ 'master' ]

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21.0.9'
          distribution: 'jetbrains'
      - name: Generate and submit dependency graph
        if: github.repository == 'MCreator/MCreator'
        uses: gradle/actions/dependency-submission@v4