name: Deploy binaries

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Release type (snapshot/release)'
        required: true
        default: 'snapshot'

jobs:
  export1:
    name: Build and Export (all but MacOS)
    runs-on: ubuntu-latest
    outputs:
      mcr_version: ${{ steps.determineExportVersion.outputs.mcr_version }}
      mc_version: ${{ steps.determineExportVersion.outputs.mc_version }}
      build_date: ${{ steps.determineExportVersion.outputs.build_date }}
    steps:
      - uses: actions/checkout@v3
      - name: Verify Repository
        if: github.repository != 'MCreator/MCreator' && github.repository != 'KlemenDEV/MCreator'
        run: |
          cat << EOF
          ⚠️Deploy action is only intended to be run from the official MCreator's repository. ⚠️
          We do not allow custom distributions of the software under MCreator brand to be distributed publicly.
          For more information, read LICENSE.txt.
          EOF
          exit 1
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17.0.8+7'
          distribution: 'adopt'
      - name: Install Dependencies
        run: |
          sudo apt-get install -y mkisofs nsis nsis-pluginapi
          wget https://nsis.sourceforge.io/mediawiki/images/d/d3/LockedList.zip
          sudo unzip LockedList.zip -d /usr/share/nsis/
      - name: Build and Export Release Using Gradle
        if: github.event.inputs.release-type == 'release'
        run: xvfb-run -a ./gradlew generateExportReport exportWindows exportLinux
      - name: Build and Export Snapshot Using Gradle
        if: github.event.inputs.release-type == 'snapshot'
        run: xvfb-run -a ./gradlew generateExportReport exportWindows exportLinux -Psnapshot=true
      - name: Determine Export Version
        id: determineExportVersion
        run: |
          MCR_VERSION=$(cat build/reports/export.txt | grep "mcreator=" | cut -d'=' -f2)
          MC_VERSION=$(cat build/reports/export.txt | grep "minecraft=" | cut -d'=' -f2)
          BUILD_DATE=$(cat build/reports/export.txt | grep "builddate=" | cut -d'=' -f2)
          echo "MCR_VERSION=$MCR_VERSION" >> $GITHUB_ENV
          echo "MC_VERSION=$MC_VERSION" >> $GITHUB_ENV
          echo "BUILD_DATE=$BUILD_DATE" >> $GITHUB_ENV
          echo "mcr_version=$MCR_VERSION" >> $GITHUB_OUTPUT
          echo "mc_version=$MC_VERSION" >> $GITHUB_OUTPUT
          echo "build_date=$BUILD_DATE" >> $GITHUB_OUTPUT
      - name: Upload Binaries and Tag Release
        uses: Pylo/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.MCR_VERSION }}
          release_name: ${{ env.MCR_VERSION }}
          prerelease: ${{ github.event.inputs.release-type == 'snapshot' }}
          file_glob: true
          file: build/export/*
          body: >
            ### **Download: https://mcreator.net/download**
            
            ### Changelog: https://mcreator.net/changelog
            
            <!--[[
            {
            "minecraft": "${{ env.MC_VERSION }}"
            }
            ]]-->
          overwrite: true
  export2:
    name: Build and Export (only MacOS)
    needs: export1
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17.0.8+7'
          distribution: 'adopt'
      - name: Install Dependencies
        run: |
          brew install cdrtools
      - name: Build and Export Release Using Gradle
        if: github.event.inputs.release-type == 'release'
        run: ./gradlew generateExportReport exportMac -Pbuilddate=${{ needs.export1.outputs.build_date }}
      - name: Build and Export Snapshot Using Gradle
        if: github.event.inputs.release-type == 'snapshot'
        run: ./gradlew generateExportReport exportMac -Psnapshot=true -Pbuilddate=${{ needs.export1.outputs.build_date }}
      - name: Upload Binaries and Tag Release
        uses: Pylo/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ needs.export1.outputs.mcr_version }}
          release_name: ${{ needs.export1.outputs.mcr_version }}
          prerelease: ${{ github.event.inputs.release-type == 'snapshot' }}
          file_glob: true
          file: build/export/*
          body: >
            ### **Download: https://mcreator.net/download**
            
            ### Changelog: https://mcreator.net/changelog
            
            <!--[[
            {
            "minecraft": "${{ needs.export1.outputs.mc_version }}"
            }
            ]]-->
          overwrite: true