name: Deploy binaries

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Release type (snapshot/release)'
        required: true
        default: 'snapshot'

jobs:
  build:
    name: Build and Export
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3

      - uses: actions/checkout@v2.5.0

      - name: Checkout Repository
        if: github.repository != 'MCreator/MCreator'
        run: |
          cat << EOF
          ⚠️Deploy action is only intended to be run from the official MCreator's repository. ⚠️
          We do not allow custom distributions of the software under MCreator brand to be distributed publicly.
          For more information, read LICENSE.txt.
          EOF
          exit 1
      - name: Set up JDK 17

        uses: actions/setup-java@v3

        uses: actions/setup-java@v3.6.0

        with:
          java-version: '17.0'
          distribution: 'adopt'
      - name: Install Dependencies
        run: |
          sudo apt-get install -y mkisofs nsis nsis-pluginapi
          wget https://nsis.sourceforge.io/mediawiki/images/d/d3/LockedList.zip
          sudo unzip LockedList.zip -d /usr/share/nsis/
      - name: Build and Export Release Using Gradle
        if: github.event.inputs.release-type == 'release'
        uses: Pylo/xvfb-action@v1.6
        with:
          run: ./gradlew exportRelease
      - name: Build and Export Snapshot Using Gradle
        if: github.event.inputs.release-type == 'snapshot'
        uses: Pylo/xvfb-action@v1.6
        with:
          run: ./gradlew exportSnapshot
      - name: Determine Export Version
        run: |
          MCR_VERSION=$(cat build/reports/export.txt | grep "mcreator=" | cut -d'=' -f2)
          MC_VERSION=$(cat build/reports/export.txt | grep "minecraft=" | cut -d'=' -f2)
          echo "MCR_VERSION=$MCR_VERSION" >> $GITHUB_ENV
          echo "MC_VERSION=$MC_VERSION" >> $GITHUB_ENV
      - name: Upload Binaries and Tag Release
        uses: Pylo/upload-release-action@2.3.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.MCR_VERSION }}
          release_name: ${{ env.MCR_VERSION }}
          prerelease: ${{ github.event.inputs.release-type == 'snapshot' }}
          file_glob: true
          file: build/export/*
          body: > 
            ### **Download: https://mcreator.net/download**
            
            ### Changelog: https://mcreator.net/changelog
            
            <!--[[
            {
            "minecraft": "${{ env.MC_VERSION }}"
            }
            ]]-->
          overwrite: true