permissions:
  issues: write
  pull-requests: write

name: 'Handle stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had
            recent activity. It will be closed if no further activity occurs. 
            Thank you for your contributions.


            Do not remove this label manually, it should be removed by the bot when
            new activity occurs.
          stale-pr-message: >
            This PR has been automatically marked as stale because it has not had
            recent activity. It will be closed if no further activity occurs. 
            Thank you for your contributions.


            Do not remove this label manually, it should be removed by the bot when
            new activity occurs.
          days-before-stale: 14
          days-before-close: 3
          stale-issue-label: stale
          stale-pr-label: stale
          exempt-issue-labels: official, on hold
          exempt-pr-labels: official, on hold
